In [2]:
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline

In [3]:
data = pd.read_csv("home_prices.csv")
data.shape

(6, 4)

In [4]:
data.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [7]:
data.columns

Index(['area', 'bedrooms', 'age', 'price'], dtype='object')

In [8]:
data[['area', 'bedrooms', 'age']].tail()

   area  bedrooms  age
1  3000       4.0   15
2  3200       NaN   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [10]:
# checking for NaN values in each columns
data.isna().sum()

area        0
bedrooms    1
age         0
price       0
dtype: int64

In [17]:
# Treating the NaN value by filling it and copying it to new object
d = data.fillna(data.bedrooms.mean()).copy()
d.loc[2]

area          3200.0
bedrooms         4.2
age             18.0
price       610000.0
Name: 2, dtype: float64

In [19]:
# checking for any null value again 
d.isnull().sum()

area        0
bedrooms    0
age         0
price       0
dtype: int64

In [21]:
from  sklearn.linear_model import LinearRegression

lrg = LinearRegression()
lrg.fit(d[['area', 'bedrooms', 'age']], data.price)

LinearRegression()

In [22]:
# predict the value 
lrg.predict(d[['area', 'bedrooms', 'age']])

array([517680.56257679, 601483.40843428, 617541.31379815, 597592.55691169,
       762639.45982935, 793062.69844975])

In [24]:
d.columns

Index(['area', 'bedrooms', 'age', 'price'], dtype='object')

In [25]:
# lets predict price of new values
lrg.predict([[2000, 2, 2]])

C:\Users\hp\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([495086.09131097])

In [26]:
lrg.predict([[2000, 3, 2]])

C:\Users\hp\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([513842.37938079])