In [1]:
# import libraries
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
# suppress warnings for clean notebook
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("Melbourne_housing_FULL.csv")
df.shape

(34857, 21)

In [4]:
# check for any null values in each columns
df.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [16]:
# check for datatype of each columns
df.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [19]:
# displaying frequency of unique element in each columns
df.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [20]:
# some of the columns/datas are not useful so we picked the useful datas
cols_to_use = ['Suburb', 'Rooms', 'Type', 'Method', 'SellerG', 'Regionname',
              'Propertycount', 'Distance', 'CouncilArea', 'Bedroom2', 
               'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'Price']

In [22]:
dataframe = df[cols_to_use]
dataframe.head()

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price
0,Abbotsford,2,h,SS,Jellis,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,126.0,NaN,NaN
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,1.0,202.0,NaN,1480000.0
2,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,2.0,1.0,0.0,156.0,79.0,1035000.0
3,Abbotsford,3,u,VB,Rounds,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,1.0,0.0,NaN,NaN
4,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,4019.0,2.5,Yarra City Council,3.0,2.0,0.0,134.0,150.0,1465000.0

In [23]:
dataframe.shape

(34857, 15)

In [24]:
dataframe.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        3
Distance             1
CouncilArea          3
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [25]:
# fill some of the column with zero
cols_to_fill_zero = ['Propertycount', 'Distance', 'Bedroom2', 'Bathroom', 'Car']
dataframe[cols_to_fill_zero] = dataframe[cols_to_fill_zero].fillna(0)
dataframe.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        0
Distance             0
CouncilArea          3
Bedroom2             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [27]:
dataframe['Landsize'] = dataframe['Landsize'].fillna(dataframe.Landsize.mean())
dataframe['BuildingArea'] = dataframe['BuildingArea'].fillna(dataframe.BuildingArea.mean())

In [28]:
dataframe.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          3
Propertycount       0
Distance            0
CouncilArea         3
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Price            7610
dtype: int64

In [29]:
# drop the rest of the rows with null values in any columns
dataframe.dropna(inplace=True)
dataframe.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

In [46]:
# checking the datatypes of each columns
print(dataframe.dtypes)

Suburb            object
Rooms              int64
Type              object
Method            object
SellerG           object
Regionname        object
Propertycount    float64
Distance         float64
CouncilArea       object
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
Price            float64
dtype: object

In [48]:
# convert the object datatypes to dummy values and drop first value from each
newdf = pd.get_dummies(dataframe, dtype=int, drop_first=True)
newdf.head()

,Rooms,Propertycount,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price,Suburb_Aberfeldie,...,CouncilArea_Moorabool Shire Council,CouncilArea_Moreland City Council,CouncilArea_Nillumbik Shire Council,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council
1,2,4019.0,2.5,2.0,1.0,1.0,202.0,160.2564,1480000.0,0,...,0,0,0,0,0,0,0,0,1,0
2,2,4019.0,2.5,2.0,1.0,0.0,156.0,79.0000,1035000.0,0,...,0,0,0,0,0,0,0,0,1,0
4,3,4019.0,2.5,3.0,2.0,0.0,134.0,150.0000,1465000.0,0,...,0,0,0,0,0,0,0,0,1,0
5,3,4019.0,2.5,3.0,2.0,1.0,94.0,160.2564,850000.0,0,...,0,0,0,0,0,0,0,0,1,0
6,4,4019.0,2.5,3.0,1.0,2.0,120.0,142.0000,1600000.0,0,...,0,0,0,0,0,0,0,0,1,0

In [51]:
# split the dataset into X and y as dependent variable and independent variable
X = newdf.drop(['Price'], axis=1).values 
y = newdf.Price.values

In [52]:
print(X[:5])
print(y[:5])

[[2.000e+00 4.019e+03 2.500e+00 ... 0.000e+00 1.000e+00 0.000e+00]
 [2.000e+00 4.019e+03 2.500e+00 ... 0.000e+00 1.000e+00 0.000e+00]
 [3.000e+00 4.019e+03 2.500e+00 ... 0.000e+00 1.000e+00 0.000e+00]
 [3.000e+00 4.019e+03 2.500e+00 ... 0.000e+00 1.000e+00 0.000e+00]
 [4.000e+00 4.019e+03 2.500e+00 ... 0.000e+00 1.000e+00 0.000e+00]]
[1480000. 1035000. 1465000.  850000. 1600000.]

In [54]:
# import machine learning library that split data into training and testing dataset
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [55]:
# import linear regression model 
from sklearn.linear_model import LinearRegression

lreg = LinearRegression()
lreg.fit(X_train, y_train)

LinearRegression()

In [56]:
lreg.score(X_test, y_test)

0.6647877898905641

In [57]:
lreg.score(X_train, y_train)

0.6809117422712809

In [58]:
# import Lasso or L1 Regularization
from sklearn import linear_model

lasso_reg = linear_model.Lasso(alpha=50, max_iter=100, tol=0.1)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=50, max_iter=100, tol=0.1)

In [59]:
lasso_reg.score(X_test, y_test)

0.6675256362455946

In [62]:
lasso_reg.score(X_train, y_train)

0.6767524818280221

In [60]:
# import Ridge or L2 Regularization
from sklearn.linear_model import Ridge

rdge = Ridge(alpha=50, max_iter=100, tol=0.1)
rdge.fit(X_train, y_train)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [61]:
rdge.score(X_test, y_test)

0.6617260361524178

In [63]:
rdge.score(X_train, y_train)

0.6651263365742519

## SOME EXTRA USEFUL NOTES

In [41]:
d = {
    'dept':['Account', 'IT', 'Business', 'IT', 'IT', 'Engineer', 'IT', 'Business', 'Account'],
    'country':['India', 'China', 'US', 'India', "US", "US", "UK", "Germany", "France"],
    'id':[2, 4, 3, 6, 1, 7, 8, 9, 5]
}

In [42]:
de = pd.DataFrame(d)
de

       dept  country  id
0   Account    India   2
1        IT    China   4
2  Business       US   3
3        IT    India   6
4        IT       US   1
5  Engineer       US   7
6        IT       UK   8
7  Business  Germany   9
8   Account   France   5

In [45]:
pd.get_dummies(de, dtype=int, drop_first=True)

,id,dept_Business,dept_Engineer,dept_IT,country_France,country_Germany,country_India,country_UK,country_US
0,2,0,0,0,0,0,1,0,0
1,4,0,0,1,0,0,0,0,0
2,3,1,0,0,0,0,0,0,1
3,6,0,0,1,0,0,1,0,0
4,1,0,0,1,0,0,0,0,1
5,7,0,1,0,0,0,0,0,1
6,8,0,0,1,0,0,0,1,0
7,9,1,0,0,0,1,0,0,0
8,5,0,0,0,1,0,0,0,0