In [38]:
# import pandas library
import pandas as pd 

# remove unncessary warning
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("heart.csv")
df.shape

(918, 12)

In [3]:
# show top five value
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
# check for null value
df.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [10]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [52]:
# lets remove outliers from different columns
# 1. Cholesterol
new_df = df[(df.Cholesterol > (df.Cholesterol.mean() - 3*df.Cholesterol.std())) &(df.Cholesterol < (df.Cholesterol.mean() + 3*df.Cholesterol.std()))]
new_df.shape

(915, 12)

In [54]:
# 2. Max_df
new_df = new_df[(new_df.MaxHR > (df.MaxHR.mean() - 3*df.MaxHR.std())) &(new_df.MaxHR < (df.MaxHR.mean() + 3*df.MaxHR.std()))]
new_df.shape

(914, 12)

In [55]:
# 3. FastingBS
new_df = new_df[(new_df.FastingBS > (df.FastingBS.mean() - 3*df.FastingBS.std())) &(df.FastingBS < (df.FastingBS.mean() + 3*df.FastingBS.std()))]
new_df.shape

(914, 12)

In [57]:
# 4. Oldpeak
new_df = new_df[(new_df.Oldpeak > (df.Oldpeak.mean() - 3*df.Oldpeak.std())) &(new_df.Oldpeak < (df.Oldpeak.mean() + 3*df.Oldpeak.std()))]
new_df.shape

(907, 12)

In [59]:
# 5. RestingBP
new_df = new_df[(new_df.RestingBP > (df.RestingBP.mean() - 3*df.RestingBP.std())) &(new_df.RestingBP < (df.RestingBP.mean() + 3*df.RestingBP.std()))]
new_df.shape

(899, 12)

In [64]:
new_df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [60]:
# lets check the data of ChestPainType to get more information , nominal 
new_df.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [61]:
# lets also check the data of RestingECG, ordinal categorical 
new_df.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [62]:
# lets also check the data of ExerciseAngina, nominal 
new_df.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [63]:
#  Lets also check ST_slop , ordinal
new_df.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [65]:
new_df.RestingECG.replace({
    'Normal':0,
    'ST':1,
    'LVH':2
}, inplace=True)

new_df.ST_Slope.replace({
    'Down':0,
    'Flat':1,
    'Up':2
}, inplace=True)

new_df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,0,172,N,0.0,2,0
1,49,F,NAP,160,180,0,0,156,N,1.0,1,1
2,37,M,ATA,130,283,0,1,98,N,0.0,2,0
3,48,F,ASY,138,214,0,0,108,Y,1.5,1,1
4,54,M,NAP,150,195,0,0,122,N,0.0,2,0

In [69]:
# covnert the rest into dummy variable
new_df1 = pd.get_dummies(new_df, drop_first=True, dtype=int)
print(len(new_df1))
new_df1.head()

899

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,ExerciseAngina_Y
0,40,140,289,0,0,172,0.0,2,0,1,1,0,0,0
1,49,160,180,0,0,156,1.0,1,1,0,0,1,0,0
2,37,130,283,0,1,98,0.0,2,0,1,1,0,0,0
3,48,138,214,0,0,108,1.5,1,1,0,0,0,0,1
4,54,150,195,0,0,122,0.0,2,0,1,0,1,0,0

In [70]:
# split the values into X and y
X = new_df1.drop(['HeartDisease'], axis=1).values
y = new_df1.HeartDisease

In [71]:
# Since the values of different features have different range we have to scale them in the same range 
# using standard scaler
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled[:3]

array([[-1.42815446,  0.46590022,  0.84963584, -0.5503622 , -0.74503088,
         1.38431998, -0.85546862,  1.04249607,  0.515943  ,  2.06332497,
        -0.5349047 , -0.22955001, -0.8229452 ],
       [-0.47585532,  1.63471366, -0.16812204, -0.5503622 , -0.74503088,
         0.7529728 ,  0.13751561, -0.62216462, -1.93819859, -0.48465463,
         1.86949191, -0.22955001, -0.8229452 ],
       [-1.7455875 , -0.1185065 ,  0.79361247, -0.5503622 ,  0.49991849,
        -1.53566071, -0.85546862,  1.04249607,  0.515943  ,  2.06332497,
        -0.5349047 , -0.22955001, -0.8229452 ]])

In [72]:
# Now split the above values into training and testing dataset
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=5, shuffle=True, stratify=y)

In [73]:
# Now let train the above dataset on machine learning model called Random classifier model
from sklearn.ensemble import RandomForestClassifier

rcf = RandomForestClassifier()
rcf.fit(X_train, y_train)
rcf.score(X_test, y_test)

0.8444444444444444

## using PCA to remove least important features

In [75]:
X

array([[ 40., 140., 289., ...,   0.,   0.,   0.],
       [ 49., 160., 180., ...,   1.,   0.,   0.],
       [ 37., 130., 283., ...,   0.,   0.,   0.],
       ...,
       [ 57., 130., 131., ...,   0.,   0.,   1.],
       [ 57., 130., 236., ...,   0.,   0.,   0.],
       [ 38., 138., 175., ...,   1.,   0.,   0.]])

In [79]:
# import PCA
from sklearn.decomposition import PCA

pca = PCA(0.90)
pca1 = PCA(0.95)

X_pca = pca.fit_transform(X)
X_pca1 = pca1.fit_transform(X)

In [80]:
X_pca[:3]

array([[ 93.12912839],
       [-16.33895199],
       [ 82.67026321]])

In [81]:
X_pca1[:3]

array([[ 93.12912839, -29.67670735],
       [-16.33895199, -14.80374789],
       [ 82.67026321,  38.91313153]])

In [82]:
X_train_pca, X_test_pca, y_train_pca, y_test_pca = train_test_split(X_pca, y, test_size=0.2, random_state=5, shuffle=True, stratify=y)

X_train_pca1, X_test_pca1, y_train_pca1, y_test_pca1 = train_test_split(X_pca1, y, test_size=0.2, random_state=5, shuffle=True, stratify=y)

In [83]:
rcf_pca = RandomForestClassifier()
rcf_pca1 = RandomForestClassifier()

rcf_pca.fit(X_train_pca, y_train_pca)
rcf_pca1.fit(X_train_pca1, y_train_pca1)

rcf_pca.score(X_test_pca, y_test_pca), rcf_pca1.score(X_test_pca1, y_test_pca1)

(0.6055555555555555, 0.6666666666666666)